section {
    max-width: 500px;
    margin: 30px auto;
    padding: 30px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(73, 0, 107, 0.1);
}

section h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #4b3f59;
    font-size: 28px;
    position: relative;
}

/* colocar linha abaixo do titulo*/

section h2::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 3px;
    background-color: #f6b6b6;
}

.formulario {
    margin-top: 30px;
}

fieldset {
    border: none;
    padding: 0;
}


label {
    display: block;
    margin-bottom: 8px;
    margin-top: 5px;
    font-weight: bold;
    color: #4b3f59;
    font-size: 15px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 15px; 
    transition: all 0.3s;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
    border-color: #f6b6b6;
    outline: none;
    box-shadow: 0 0 0 2px rgba(246, 182, 182, 0.2);
}

textarea {
    min-height: 100px;
    resize: none;
}


.checkbox,
.radio {
    display: flex;
    margin-bottom: 8px;
}

.checkbox-container {
    display: flex;
    flex-direction: column;
}

.checkbox-container div {
    margin: auto 0;
}

.checkbox label,
.radio label {
    font-weight: lighter;
}

.checkbox input,
.radio input {
    margin: 0 10px;
}

.opcoes legend {
    color: #4b3f59;
    font-weight: bold;
    float: left;
    margin-top: 6px;
}


.opcoes{
    margin-top: 16px;
}


.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    gap: 15px;
}

button {

    margin-top: 10px;
    margin-right: 5px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
    flex: 1;
    font-family: Arial, Helvetica, sans-serif;
    color: #4b3f59;

}

button[type="submit"],
button[type="reset"] {
    background-color: white;
    float: right;
    padding: 5px;
}

button[type="submit"]:hover {
    background-color: #f6b6b6;
}

button[type="reset"]:hover {
    background-color: #f6b6b6;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}